[Unit]
Description=SSH Login Notifications via Twilio - Send an SMS message when when someone logs into the server or runs a command via sudo

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/twilio/ssh-login-notify/venv/bin/python3 /home/twilio/ssh-login-notify/main.py
EnvironmentFile=/home/twilio/ssh-login-notify/.secrets.env
Restart=always
