[Unit]
Description=SSH Login Notifications via Twilio - Send an SMS message when when someone logs into the server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=<repo content directory>/ssh-login-notify/venv/bin/python3 <repo content directory>/ssh-login-notify/main.py
EnvironmentFile=<repo content directory>/ssh-login-notify/.secrets.env
Restart=always
